<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url('https://github.com/dziury/szkice/blob/gh-pages/Obrazy/background-1.png?raw=true');
            color: white;
            font-family: 'OpenSans';
            font-weight: 400;
            font-style: normal;
            line-height: 1.5;
            text-align: center
        }
        h3 {
            color: white;
        }
        h2 {
            color: white;
        }
        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
        </footer>
    </main>
</body>
</html>